In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from itertools import combinations
from collections import Counter
print(os.listdir("../input"))

['imbd-sf']

In [2]:
data = pd.read_csv('../input/imbd-sf/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста

In [5]:
data['profit'] = data['revenue'] - data['budget']

for col in ['genres', 'cast', 'director', 'production_companies']:
    data[col] = data[col].str.split('|')

In [6]:
data['release_month'] = data['release_date'].apply(lambda s: int(s.split('/')[0]))

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [7]:
data.sort_values('budget', ascending=False)[:3]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
491,tt1032751,0.250540,425000000,11087569,The Warrior's Way,"[Kate Bosworth, Jang Dong-gun, Geoffrey Rush, ...",[Sngmoo Lee],Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,"[Adventure, Fantasy, Action, Western, Thriller]",[Boram Entertainment Inc.],12/2/2010,74,6.4,2010,-413912431,12
724,tt1298650,4.955130,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,"[Johnny Depp, PenÃ©lope Cruz, Geoffrey Rush, I...",[Rob Marshall],Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,"[Adventure, Action, Fantasy]","[Walt Disney Pictures, Jerry Bruckheimer Films...",5/11/2011,3180,6.3,2011,641683000,5
1670,tt0449088,4.965391,300000000,961000000,Pirates of the Caribbean: At World's End,"[Johnny Depp, Orlando Bloom, Keira Knightley, ...",[Gore Verbinski],"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,"[Adventure, Fantasy, Action]","[Walt Disney Pictures, Jerry Bruckheimer Films...",5/19/2007,2626,6.8,2007,661000000,5

In [8]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [9]:
data.sort_values('runtime', ascending=False)[:3]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,"[Stephen Lang, Jeff Daniels, Robert Duvall, Ke...",[Ronald F. Maxwell],The nations heart was touched by...,The film centers mostly around the personal an...,214,"[Drama, History, War]","[Turner Pictures, Antietam Filmworks]",2/21/2003,23,5.8,2003,-43076064,2
1082,tt0167260,7.122455,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",[Peter Jackson],The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",12/1/2003,5636,7.9,2003,1024888979,12
1737,tt0462322,0.906938,67000000,25037897,Grindhouse,"[Kurt Russell, ZoÃ« Bell, Rosario Dawson, Vane...","[Robert Rodriguez, Eli Roth, Quentin Tarantino...",A double feature that'll tear you in two!,Two full length feature horror movies written ...,191,"[Thriller, Action, Horror]","[Big Talk Productions, Yer Dead Productions, W...",4/6/2007,197,6.5,2007,-41962103,4

In [10]:
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [11]:
data.sort_values('runtime')[:3]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,"[Jim Cummings, Travis Oates, Jim Cummings, Bud...","[Stephen Anderson, Don Hall]",Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,"[Animation, Family]","[Walt Disney Pictures, Walt Disney Animation S...",4/13/2011,174,6.8,2011,-15540000,4
931,tt0280030,0.678896,20000000,109862682,Return to Never Land,"[Harriet Owen, Blayne Weaver, Jeff Bennett, Ka...","[Robin Budd, Donovan Cook]",The Classic Continues,The classic tale of 'Peter Pan' continues in D...,72,"[Adventure, Fantasy, Animation, Family]","[Walt Disney Pictures, Walt Disney Television ...",2/14/2002,174,6.2,2002,89862682,2
1098,tt0283426,1.781615,20000000,135680000,The Jungle Book 2,"[John Goodman, Haley Joel Osment, Mae Whitman,...",[Steve Trenbirth],Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,"[Family, Animation, Adventure]","[Walt Disney Pictures, Walt Disney Television ...",2/7/2003,156,5.6,2003,115680000,2

In [12]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [13]:
data['runtime'].mean()

109.65343915343915

In [14]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [15]:
data['runtime'].median()

106.5

In [16]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [17]:
data.sort_values('revenue', ascending=False)[:2]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
239,tt0499549,9.432768,237000000,2781505847,Avatar,"[Sam Worthington, Zoe Saldana, Sigourney Weave...",[James Cameron],Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,"[Action, Adventure, Fantasy, Science Fiction]","[Ingenious Film Partners, Twentieth Century Fo...",12/10/2009,8458,7.1,2009,2544505847,12
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,"[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,"[Action, Adventure, Science Fiction, Fantasy]","[Lucasfilm, Truenorth Productions, Bad Robot]",12/15/2015,5292,7.5,2015,1868178225,12

In [18]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [19]:
data.sort_values('profit').head(2)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,"[Kate Bosworth, Jang Dong-gun, Geoffrey Rush, ...",[Sngmoo Lee],Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,"[Adventure, Fantasy, Action, Western, Thriller]",[Boram Entertainment Inc.],12/2/2010,74,6.4,2010,-413912431,12
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,1607,6.0,2013,-165710090,7

In [20]:
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [21]:
len(data[data['profit'] > 0])

1478

In [22]:
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [23]:
data[data['release_year'] == 2008].sort_values('profit', ascending=False).head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",[Christopher Nolan],Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8432,8.1,2008,816921825,7
604,tt0367882,3.161670,185000000,786636033,Indiana Jones and the Kingdom of the Crystal S...,"[Harrison Ford, Cate Blanchett, Shia LaBeouf, ...",[Steven Spielberg],The adventure continues . . .,"Set during the Cold War, the Soviets â€“ led b...",122,"[Adventure, Action]","[Lucasfilm, Paramount Pictures]",5/21/2008,1537,5.6,2008,601636033,5
608,tt0795421,2.543535,52000000,609841637,Mamma Mia!,"[Meryl Streep, Pierce Brosnan, Amanda Seyfried...",[Phyllida Lloyd],Take a trip down the aisle you'll never forget,"Set on an idyllic Greek island, the plot serve...",108,"[Comedy, Romance]","[Universal Pictures, Internationale Filmproduk...",6/30/2008,805,6.2,2008,557841637,6

In [24]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [25]:
data[(data['release_year'] >= 2012) &
     (data['release_year'] <= 2014)].sort_values('profit').head(3)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
1246,tt1210819,1.214510,255000000,89289910,The Lone Ranger,"[Johnny Depp, Armie Hammer, William Fichtner, ...",[Gore Verbinski],Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,"[Action, Adventure, Western]","[Walt Disney Pictures, Jerry Bruckheimer Films...",7/3/2013,1607,6.0,2013,-165710090,7
1215,tt0790736,1.689869,130000000,61648500,R.I.P.D.,"[Jeff Bridges, Ryan Reynolds, Kevin Bacon, Ste...",[Robert Schwentke],To protect and serve the living,A recently slain cop joins a team of undead po...,96,"[Fantasy, Action, Comedy, Crime]","[Universal Pictures, Original Film, Dark Horse...",7/18/2013,876,5.3,2013,-68351500,7
1008,tt1374992,1.690572,60000000,8106475,Upside Down,"[Kirsten Dunst, Jim Sturgess, Timothy Spall, J...",[Juan Diego Solanas],Two worlds. One future.,In an alternate universe where twinned worlds ...,104,"[Romance, Science Fiction, Drama, Fantasy]","[Onyx Films, Studio 37, Jouror Productions, Fr...",9/27/2012,695,6.1,2012,-51893525,9

In [26]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [27]:
data.explode('genres')['genres'].value_counts()[:3]

Drama       782
Comedy      683
Thriller    597
Name: genres, dtype: int64

In [28]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [29]:
data[data['profit'] > 0].explode('genres')['genres'].value_counts()[:3]

Drama       560
Comedy      551
Thriller    446
Name: genres, dtype: int64

In [30]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [31]:
data.explode('director')['director'].value_counts()[:3]

Steven Soderbergh    13
Ridley Scott         12
Clint Eastwood       12
Name: director, dtype: int64

In [32]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [33]:
data[data['profit'] > 0].explode('director')['director'].value_counts()[:3]

Ridley Scott         12
Steven Soderbergh    10
Steven Spielberg     10
Name: director, dtype: int64

In [34]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [35]:
data.explode('director').groupby('director')['profit'].sum().sort_values(ascending=False)[:3]

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
Name: profit, dtype: int64

In [36]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [37]:
data.explode('cast').groupby(['cast'])['profit'].sum().sort_values(ascending=False)[:3]

cast
Emma Watson         6666245597
Daniel Radcliffe    6514990281
Rupert Grint        6408638290
Name: profit, dtype: int64

In [38]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [39]:
data[data['release_year'] == 2012].explode('cast').groupby(['cast'])['profit'].sum().sort_values()[:3]

cast
Kirsten Dunst   -68109207
Heidi Hawkins   -51893525
James Kidnie    -51893525
Name: profit, dtype: int64

In [40]:
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [41]:
high_budget = data['budget'] > data['budget'].mean()
data[high_budget].explode('cast')['cast'].value_counts()[:3]

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Name: cast, dtype: int64

In [42]:
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [43]:
df = data.explode('cast')
df[df['cast'] == 'Nicolas Cage'].explode('genres')['genres'].value_counts()[:3]

Action      17
Thriller    15
Drama       12
Name: genres, dtype: int64

In [44]:
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [45]:
data.explode('production_companies')['production_companies'].value_counts()[:3]

Universal Pictures    173
Warner Bros.          168
Paramount Pictures    122
Name: production_companies, dtype: int64

In [46]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [47]:
df = data[data['release_year'] == 2015]
df.explode('production_companies')['production_companies'].value_counts()[:3]

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Name: production_companies, dtype: int64

In [48]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [49]:
df = data.explode('genres')
df = df[df['genres'] == 'Comedy'].explode('production_companies')
df.groupby('production_companies')['profit'].sum().sort_values(ascending=False)[:3]

production_companies
Universal Pictures                        8961545581
Walt Disney Pictures                      7669710326
Twentieth Century Fox Film Corporation    5686960294
Name: profit, dtype: int64

In [50]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [51]:
df = data[data['release_year'] == 2012].explode('production_companies')
df.groupby('production_companies')['profit'].sum().sort_values(ascending=False)[:3]

production_companies
Columbia Pictures     2501406608
Universal Pictures    1981011579
Marvel Studios        1299557910
Name: profit, dtype: int64

In [52]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [53]:
df = data.explode('production_companies')
df[df['production_companies'] == 'Paramount Pictures'].sort_values('profit')[:2]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit,release_month
926,tt0267626,0.722330,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",[Kathryn Bigelow],Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures,7/19/2002,146,6.0,2002,-64831034,7
1124,tt0300556,1.047214,80000000,19480739,Timeline,"[Paul Walker, Frances O'Connor, Gerard Butler,...",[Richard Donner],They had to travel into the past to save the f...,A group of archaeological students become trap...,116,"[Action, Adventure, Science Fiction]",Paramount Pictures,11/26/2003,176,5.1,2003,-60519261,11

In [54]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [55]:
data.groupby(['release_year'])['profit'].sum().sort_values()[-3:]

release_year
2012    16077001687
2014    16397812953
2015    18668572378
Name: profit, dtype: int64

In [56]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [57]:
df = data.explode('production_companies')
df = df[df['production_companies'].str.startswith('Warner Bros.')]
df.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)[:3]

release_year
2014    2292949646
2007    2201675217
2008    2134595031
Name: profit, dtype: int64

In [58]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [59]:
data['release_month'].value_counts()[:3]

9     227
12    191
10    186
Name: release_month, dtype: int64

In [60]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [61]:
len(data[(data['release_month'] >= 6) & (data['release_month'] <= 8)])

450

In [62]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [63]:
data['winter'] = data['release_month'].apply(lambda x: int(x in [12, 1, 2]))

In [64]:
data[data['winter'] == 1].explode('director')['director'].value_counts()[:3]

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Name: director, dtype: int64

In [65]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [66]:
df = data.groupby(['release_year', 'release_month'])['profit'].sum().unstack()

In [67]:
df.tail()

release_month,1,2,3,4,5,6,7,8,9,10,11,12
release_year,,,,,,,,,,,,
2011,591644835,642751509,1443419914,1507477958,1917491757,1524706926,2331661017,667283164,733166385,968743489,859313689,1542580698
2012,381045653,573073426,1459834347,1767272417,1140614925,2965481705,940512033,702588445,1308166465,1320250459,2412991475,1105170337
2013,449051535,509981099,970223425,1423545114,1724496337,2411922008,1192996016,590070005,1165693297,1042812263,2047380217,1715008475
2014,541637085,736685970,1768873778,795767674,2279978281,1176264662,1611081683,1163610627,596366679,1764509467,2043956761,1919080286
2015,630233784,884789565,937945994,2602565518,1103503482,3757679861,1552273188,491699146,1775686025,942161764,1212708544,2777325507

In [68]:
Counter([df.loc[m].idxmax() for m in list(df.index)])

Counter({12: 4, 5: 4, 6: 7, 7: 1})

In [69]:
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [70]:
data['title_length'] = data['original_title'].apply(lambda s: len(s))

In [71]:
df = data.explode('production_companies')
df.groupby('production_companies')['title_length'].mean().sort_values()[-3:]

production_companies
Dos Corazones              47.0
Jim Henson Company, The    59.0
Four By Two Productions    83.0
Name: title_length, dtype: float64

In [72]:
answer_ls.append(1)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [73]:
data['title_words_count'] = data['original_title'].apply(lambda s: len(s.split()))

In [74]:
df = data.explode('production_companies')
df.groupby('production_companies')['title_words_count'].mean().sort_values()[-3:]

production_companies
Polsky Films                9.0
Jim Henson Company, The    10.0
Four By Two Productions    12.0
Name: title_words_count, dtype: float64

In [75]:
answer_ls.append(1)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [76]:
len(set(data['original_title'].str.lower().str.split(expand=True).melt().dropna()['value']))

2461

In [77]:
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [78]:
top = data[data['vote_average'] > data.quantile(0.99)['vote_average']]
sorted(list(top['original_title']))

['12 Years a Slave',
 'Gone Girl',
 'Guardians of the Galaxy',
 'Inception',
 'Inside Out',
 'Interstellar',
 'Memento',
 'Room',
 'The Dark Knight',
 'The Grand Budapest Hotel',
 'The Imitation Game',
 'The Lord of the Rings: The Return of the King',
 'The Pianist',
 'The Wolf of Wall Street']

In [79]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [80]:
data['cast_pairs'] = data['cast'].apply(lambda l: list(combinations(sorted(l), 2)))

In [81]:
data.explode('cast_pairs')['cast_pairs'].value_counts()[:5]

(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
Name: cast_pairs, dtype: int64

In [82]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [83]:
df = data.explode('director')

In [84]:
res = df.groupby('director').apply(lambda df: len(df[df['profit'] > 0]) / len(df))

In [85]:
res[['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']]

director
Quentin Tarantino    0.857143
Steven Soderbergh    0.769231
Robert Rodriguez     0.727273
Christopher Nolan    1.000000
Clint Eastwood       0.833333
dtype: float64

In [86]:
answer_ls.append(4)

# Submission

In [87]:
len(answer_ls)

36

In [88]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       1
12  13       3
13  14       4
14  15       5
15  16       1
16  17       3
17  18       3
18  19       2
19  20       1
20  21       4
21  22       2
22  23       3
23  24       1
24  25       5
25  26       1
26  27       4
27  28       2
28  29       5
29  30       2
30  31       1
31  32       1
32  33       3
33  34       1
34  35       5
35  36       4